html, body {
  width: 100%;
  font-family: 'Raleway', sans-serif; }

section {
  padding: 50px 0; }

h1, h2 {
  font-weight: 800; }

h1 {
  font-size: 4.5rem; }

h2 {
  font-size: 3.5rem; }

p {
  font-weight: 400; }

.invert {
  color: #fff; }

.button {
  padding: 12px 30px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
  color: #fff;
  outline: 0;
  border: 0;
  transition: all .3s; }
  .button-orange {
    background: #ff6033; }
  .button-blue {
    background: #5585a2; }
  .button-green {
    background: #96b92c; }
  .button-red {
    background: #f72b3b; }
  .button:hover {
    transform: rotateZ(-2deg) scale(1.05);
    cursor: pointer; }

.navbar {
  padding: 2rem 1rem;
  transition: .2s all; }

.navbar-brand {
  font-family: 'Pacifico';
  font-size: 2.4rem;
  transition: .2s all; }

.nav-link {
  font-weight: 700;
  color: #262626;
  border-top: 2px solid transparent;
  margin: 0 5px;
  transition: .2s all; }

.nav-link.active {
  border-color: #ff6033; }

.bg-light.navbar {
  padding: .5rem 1rem; }

.bg-light .navbar-brand {
  font-size: 1.7em; }

.home {
  min-height: 1000px;
  height: 1000px;
  background-color: #f9f8fb;
  background-image: url("../img/home.png");
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat; }

.about {
  min-height: 800px;
  background-color: #00c2c2; }

.services {
  min-height: 790px;
  height: 790px;
  background-color: #80bfff; }
  .services .container {
    background-image: url("../img/services.png");
    background-position: right;
    background-repeat: no-repeat; }
  .services .service {
    padding: 36px 124px 36px 24px;
    margin: 19px auto;
    max-width: 400px;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 700;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 92% center;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4); }
    .services .service-1 {
      background-image: url("../img/cart.png"); }
    .services .service-2 {
      background-image: url("../img/plant.png"); }
    .services .service-3 {
      padding: 22px 124px 22px 24px;
      background-image: url("../img/world.png"); }
    .services .service-4 {
      background-image: url("../img/carrot.png"); }

.gallery {
  background-color: #ffe92f; }
  .gallery img {
    margin: 15px 0;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4); }

.subscribe {
  min-height: 500px;
  height: 500px;
  background-color: #ffffff;
  background-image: url("../img/subscribe.png");
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat; }
  .subscribe .input-text {
    padding: 0 15px;
    height: 46px;
    line-height: 46px;
    border: 1px solid #000; }

.blog {
  min-height: 860px;
  height: 860px;
  background-color: #b07cf7; }
  .blog .article {
    width: 100%;
    height: 310px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
    transition: .2s transform; }
    .blog .article-1 {
      background-image: url("../img/blog1.png"); }
    .blog .article-2 {
      background-image: url("../img/blog2.png"); }
    .blog .article-3 {
      background-image: url("../img/blog3.png"); }
    .blog .article:hover {
      transform: scale(1.04); }
    .blog .article .date {
      padding: 6px 0;
      width: 60px;
      height: 60px;
      text-align: center;
      font-size: 1.2rem;
      font-weight: 700;
      line-height: 1.4rem;
      background: rgba(0, 0, 0, 0.4);
      border-radius: 5px;
      position: absolute;
      top: 30px;
      left: 30px; }
      .blog .article .date span {
        font-size: 1.9rem; }
    .blog .article .header {
      display: block;
      padding: 20px;
      height: 100px;
      width: 100%;
      background: transparent;
      background: -moz-linear-gradient(top, transparent 0%, #000 100%);
      background: -webkit-linear-gradient(top, transparent 0%, #000 100%);
      background: linear-gradient(to bottom, transparent 0%, #000 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color-1', endColorstr='$color-2',GradientType=0 );
      position: absolute;
      bottom: 0; }
      .blog .article .header p {
        font-size: .7rem;
        opacity: .86; }

.contact {
  min-height: 870px;
  height: 870px;
  background-image: url("../img/contact.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  .contact .form {
    margin-bottom: 16px;
    padding: 13px;
    max-width: 500px;
    width: 100%;
    color: #fff;
    background-color: #00c4c4;
    outline: 0;
    border: 1px solid transparent;
    opacity: .5; }
    .contact .form::placeholder {
      color: #fff; }
    .contact .form.title {
      display: block;
      font-weight: 700;
      border-left: 5px solid #355b82;
      opacity: 1; }
    .contact .form.textarea {
      height: auto;
      line-height: normal; }

.footer {
  height: 90px;
  background-color: #262626; }

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoic3R5bGUuY3NzIiwic291cmNlcyI6WyJzdHlsZS5zY3NzIiwiX3ZhcmlhYmxlcy5zY3NzIiwiX2N1c3RvbS5zY3NzIiwiX25hdmJhci5zY3NzIiwiX2hvbWUuc2NzcyIsIl9hYm91dC5zY3NzIiwiX3NlcnZpY2VzLnNjc3MiLCJfZ2FsbGVyeS5zY3NzIiwiX3N1YnNjcmliZS5zY3NzIiwiX2Jsb2cuc2NzcyIsIl9jb250YWN0LnNjc3MiLCJfZm9vdGVyLnNjc3MiXSwic291cmNlc0NvbnRlbnQiOlsiaHRtbCwgYm9keSB7XHJcbiAgd2lkdGg6IDEwMCU7XHJcbiAgZm9udC1mYW1pbHk6ICdSYWxld2F5Jywgc2Fucy1zZXJpZjtcclxufVxyXG5cclxuQGltcG9ydCAndmFyaWFibGVzJztcclxuQGltcG9ydCAnY3VzdG9tJztcclxuQGltcG9ydCAnbmF2YmFyJztcclxuQGltcG9ydCAnaG9tZSc7XHJcbkBpbXBvcnQgJ2Fib3V0JztcclxuQGltcG9ydCAnc2VydmljZXMnO1xyXG5AaW1wb3J0ICdnYWxsZXJ5JztcclxuQGltcG9ydCAnc3Vic2NyaWJlJztcclxuQGltcG9ydCAnYmxvZyc7XHJcbkBpbXBvcnQgJ2NvbnRhY3QnO1xyXG5AaW1wb3J0ICdmb290ZXInO1xyXG4iLCIkYm94LXNoYWRvdzogMHB4IDJweCAycHggcmdiYSgwLCAwLCAwLCAwLjQpO1xyXG5cclxuQG1peGluIGdyYWRpZW50KCRjb2xvci0xLCAkY29sb3ItMikge1xyXG4gIGJhY2tncm91bmQ6ICRjb2xvci0xO1xyXG4gIGJhY2tncm91bmQ6IC1tb3otbGluZWFyLWdyYWRpZW50KHRvcCwgICRjb2xvci0xIDAlLCAkY29sb3ItMiAxMDAlKTtcclxuICBiYWNrZ3JvdW5kOiAtd2Via2l0LWxpbmVhci1ncmFkaWVudCh0b3AsICAkY29sb3ItMSAwJSwkY29sb3ItMiAxMDAlKTtcclxuICBiYWNrZ3JvdW5kOiBsaW5lYXItZ3JhZGllbnQodG8gYm90dG9tLCAgJGNvbG9yLTEgMCUsICRjb2xvci0yIDEwMCUpO1xyXG4gIGZpbHRlcjogcHJvZ2lkOkRYSW1hZ2VUcmFuc2Zvcm0uTWljcm9zb2Z0LmdyYWRpZW50KCBzdGFydENvbG9yc3RyPSckY29sb3ItMScsIGVuZENvbG9yc3RyPSckY29sb3ItMicsR3JhZGllbnRUeXBlPTAgKTtcclxufVxyXG4iLCJzZWN0aW9uIHtcclxuICBwYWRkaW5nOiA1MHB4IDA7XHJcbn1cclxuXHJcbmgxLCBoMiB7XHJcbiAgZm9udC13ZWlnaHQ6IDgwMDtcclxufVxyXG5cclxuaDEge1xyXG4gIGZvbnQtc2l6ZTogNC41cmVtO1xyXG59XHJcblxyXG5oMiB7XHJcbiAgZm9udC1zaXplOiAzLjVyZW07XHJcbn1cclxuXHJcblxyXG5wIHtcclxuICBmb250LXdlaWdodDogNDAwO1xyXG59XHJcblxyXG4uaW52ZXJ0IHtcclxuICBjb2xvcjogI2ZmZjtcclxufVxyXG5cclxuLmJ1dHRvbiB7XHJcbiAgcGFkZGluZzogMTJweCAzMHB4O1xyXG4gIGJveC1zaGFkb3c6ICRib3gtc2hhZG93O1xyXG4gIGNvbG9yOiAjZmZmO1xyXG4gIG91dGxpbmU6IDA7XHJcbiAgYm9yZGVyOiAwO1xyXG4gIHRyYW5zaXRpb246IGFsbCAuM3M7XHJcblxyXG4gICYtb3JhbmdlIHtcclxuICAgIGJhY2tncm91bmQ6ICNmZjYwMzM7XHJcbiAgfVxyXG4gICYtYmx1ZSB7XHJcbiAgICBiYWNrZ3JvdW5kOiAjNTU4NWEyO1xyXG4gIH1cclxuICAmLWdyZWVuIHtcclxuICAgIGJhY2tncm91bmQ6ICM5NmI5MmM7XHJcbiAgfVxyXG4gICYtcmVkIHtcclxuICAgIGJhY2tncm91bmQ6ICNmNzJiM2I7XHJcbiAgfVxyXG5cclxuICAmOmhvdmVyIHtcclxuICAgIHRyYW5zZm9ybTogcm90YXRlWigtMmRlZykgc2NhbGUoMS4wNSk7XHJcbiAgICBjdXJzb3I6IHBvaW50ZXI7XHJcbiAgfVxyXG59XHJcbiIsIi5uYXZiYXIge1xyXG4gIHBhZGRpbmc6IDJyZW0gMXJlbTtcclxuICB0cmFuc2l0aW9uOiAuMnMgYWxsO1xyXG59XHJcblxyXG4ubmF2YmFyLWJyYW5kIHtcclxuICBmb250LWZhbWlseTogJ1BhY2lmaWNvJztcclxuICBmb250LXNpemU6IDIuNHJlbTtcclxuICB0cmFuc2l0aW9uOiAuMnMgYWxsO1xyXG59XHJcblxyXG4ubmF2LWxpbmsge1xyXG4gIGZvbnQtd2VpZ2h0OiA3MDA7XHJcbiAgY29sb3I6ICMyNjI2MjY7XHJcbiAgYm9yZGVyLXRvcDogMnB4IHNvbGlkIHRyYW5zcGFyZW50O1xyXG4gIG1hcmdpbjogMCA1cHg7XHJcbiAgdHJhbnNpdGlvbjogLjJzIGFsbDtcclxufVxyXG5cclxuLm5hdi1saW5rLmFjdGl2ZSB7XHJcbiAgYm9yZGVyLWNvbG9yOiAjZmY2MDMzO1xyXG59XHJcblxyXG4uYmctbGlnaHQge1xyXG4gICYubmF2YmFyIHtcclxuICAgIHBhZGRpbmc6IC41cmVtIDFyZW07XHJcbiAgfVxyXG4gIC5uYXZiYXItYnJhbmQge1xyXG4gICAgZm9udC1zaXplOiAxLjdlbTtcclxuICB9XHJcbn1cclxuIiwiLmhvbWUge1xyXG4gIG1pbi1oZWlnaHQ6IDEwMDBweDtcclxuICBoZWlnaHQ6IDEwMDBweDtcclxuICBiYWNrZ3JvdW5kLWNvbG9yOiAjZjlmOGZiO1xyXG4gIGJhY2tncm91bmQtaW1hZ2U6IHVybCgnLi4vaW1nL2hvbWUucG5nJyk7XHJcbiAgYmFja2dyb3VuZC1zaXplOiBhdXRvIDEwMCU7XHJcbiAgYmFja2dyb3VuZC1wb3NpdGlvbjogY2VudGVyO1xyXG4gIGJhY2tncm91bmQtcmVwZWF0OiBuby1yZXBlYXQ7XHJcbn1cclxuIiwiLmFib3V0IHtcclxuICBtaW4taGVpZ2h0OiA4MDBweDtcclxuICBiYWNrZ3JvdW5kLWNvbG9yOiAjMDBjMmMyO1xyXG59XHJcbiIsIi5zZXJ2aWNlcyB7XHJcbiAgbWluLWhlaWdodDogNzkwcHg7XHJcbiAgaGVpZ2h0OiA3OTBweDtcclxuICBiYWNrZ3JvdW5kLWNvbG9yOiAjODBiZmZmO1xyXG5cclxuICAuY29udGFpbmVyIHtcclxuICAgIGJhY2tncm91bmQtaW1hZ2U6IHVybCgnLi4vaW1nL3NlcnZpY2VzLnBuZycpO1xyXG4gICAgYmFja2dyb3VuZC1wb3NpdGlvbjogcmlnaHQ7XHJcbiAgICBiYWNrZ3JvdW5kLXJlcGVhdDogbm8tcmVwZWF0O1xyXG4gIH1cclxuXHJcbiAgLnNlcnZpY2Uge1xyXG4gICAgcGFkZGluZzogMzZweCAxMjRweCAzNnB4IDI0cHg7XHJcbiAgICBtYXJnaW46IDE5cHggYXV0bztcclxuICAgIG1heC13aWR0aDogNDAwcHg7XHJcbiAgICB3aWR0aDogMTAwJTtcclxuICAgIGZvbnQtc2l6ZTogMS4ycmVtO1xyXG4gICAgZm9udC13ZWlnaHQ6IDcwMDtcclxuICAgIGJhY2tncm91bmQtY29sb3I6ICNmZmY7XHJcbiAgICBiYWNrZ3JvdW5kLXJlcGVhdDogbm8tcmVwZWF0O1xyXG4gICAgYmFja2dyb3VuZC1wb3NpdGlvbjogOTIlIGNlbnRlcjtcclxuICAgIGJveC1zaGFkb3c6ICRib3gtc2hhZG93O1xyXG5cclxuICAgICYtMSB7XHJcbiAgICAgIGJhY2tncm91bmQtaW1hZ2U6IHVybCgnLi4vaW1nL2NhcnQucG5nJyk7XHJcbiAgICB9XHJcbiAgICAmLTIge1xyXG4gICAgICBiYWNrZ3JvdW5kLWltYWdlOiB1cmwoJy4uL2ltZy9wbGFudC5wbmcnKTtcclxuICAgIH1cclxuICAgICYtMyB7XHJcbiAgICAgIHBhZGRpbmc6IDIycHggMTI0cHggMjJweCAyNHB4O1xyXG4gICAgICBiYWNrZ3JvdW5kLWltYWdlOiB1cmwoJy4uL2ltZy93b3JsZC5wbmcnKTtcclxuICAgIH1cclxuICAgICYtNCB7XHJcbiAgICAgIGJhY2tncm91bmQtaW1hZ2U6IHVybCgnLi4vaW1nL2NhcnJvdC5wbmcnKTtcclxuICAgIH1cclxuICB9XHJcbn1cclxuIiwiLmdhbGxlcnkge1xyXG4gIGJhY2tncm91bmQtY29sb3I6ICNmZmU5MmY7XHJcblxyXG4gIGltZyB7XHJcbiAgICBtYXJnaW46IDE1cHggMDtcclxuICAgIGJveC1zaGFkb3c6ICRib3gtc2hhZG93O1xyXG4gIH1cclxufVxyXG4iLCIuc3Vic2NyaWJlIHtcclxuICBtaW4taGVpZ2h0OiA1MDBweDtcclxuICBoZWlnaHQ6IDUwMHB4O1xyXG4gIGJhY2tncm91bmQtY29sb3I6ICNmZmZmZmY7XHJcbiAgYmFja2dyb3VuZC1pbWFnZTogdXJsKCcuLi9pbWcvc3Vic2NyaWJlLnBuZycpO1xyXG4gIGJhY2tncm91bmQtc2l6ZTogOTAlO1xyXG4gIGJhY2tncm91bmQtcG9zaXRpb246IGNlbnRlcjtcclxuICBiYWNrZ3JvdW5kLXJlcGVhdDogbm8tcmVwZWF0O1xyXG5cclxuICAuaW5wdXQtdGV4dCB7XHJcbiAgICBwYWRkaW5nOiAwIDE1cHg7XHJcbiAgICBoZWlnaHQ6IDQ2cHg7XHJcbiAgICBsaW5lLWhlaWdodDogNDZweDtcclxuICAgIGJvcmRlcjogMXB4IHNvbGlkICMwMDA7XHJcbiAgfVxyXG59XHJcbiIsIi5ibG9nIHtcclxuICBtaW4taGVpZ2h0OiA4NjBweDtcclxuICBoZWlnaHQ6IDg2MHB4O1xyXG4gIGJhY2tncm91bmQtY29sb3I6ICNiMDdjZjc7XHJcblxyXG4gIC5hcnRpY2xlIHtcclxuICAgIHdpZHRoOiAxMDAlO1xyXG4gICAgaGVpZ2h0OiAzMTBweDtcclxuICAgIGJhY2tncm91bmQtc2l6ZTogY292ZXI7XHJcbiAgICBiYWNrZ3JvdW5kLXBvc2l0aW9uOiBjZW50ZXI7XHJcbiAgICBiYWNrZ3JvdW5kLXJlcGVhdDogbm8tcmVwZWF0O1xyXG4gICAgcG9zaXRpb246IHJlbGF0aXZlO1xyXG4gICAgYm94LXNoYWRvdzogJGJveC1zaGFkb3c7XHJcbiAgICB0cmFuc2l0aW9uOiAuMnMgdHJhbnNmb3JtO1xyXG5cclxuICAgICYtMSB7XHJcbiAgICAgIGJhY2tncm91bmQtaW1hZ2U6IHVybCgnLi4vaW1nL2Jsb2cxLnBuZycpO1xyXG4gICAgfVxyXG4gICAgJi0yIHtcclxuICAgICAgYmFja2dyb3VuZC1pbWFnZTogdXJsKCcuLi9pbWcvYmxvZzIucG5nJyk7XHJcbiAgICB9XHJcbiAgICAmLTMge1xyXG4gICAgICBiYWNrZ3JvdW5kLWltYWdlOiB1cmwoJy4uL2ltZy9ibG9nMy5wbmcnKTtcclxuICAgIH1cclxuICAgICY6aG92ZXIge1xyXG4gICAgICB0cmFuc2Zvcm06IHNjYWxlKDEuMDQpO1xyXG4gICAgfVxyXG5cclxuICAgIC5kYXRlIHtcclxuICAgICAgcGFkZGluZzogNnB4IDA7XHJcbiAgICAgIHdpZHRoOiA2MHB4O1xyXG4gICAgICBoZWlnaHQ6IDYwcHg7XHJcbiAgICAgIHRleHQtYWxpZ246IGNlbnRlcjtcclxuICAgICAgZm9udC1zaXplOiAxLjJyZW07XHJcbiAgICAgIGZvbnQtd2VpZ2h0OiA3MDA7XHJcbiAgICAgIGxpbmUtaGVpZ2h0OiAxLjRyZW07XHJcbiAgICAgIGJhY2tncm91bmQ6IHJnYmEoMCwgMCwgMCwgLjQpO1xyXG4gICAgICBib3JkZXItcmFkaXVzOiA1cHg7XHJcbiAgICAgIHBvc2l0aW9uOiBhYnNvbHV0ZTtcclxuICAgICAgdG9wOiAzMHB4O1xyXG4gICAgICBsZWZ0OiAzMHB4O1xyXG5cclxuICAgICAgc3BhbiB7XHJcbiAgICAgICAgZm9udC1zaXplOiAxLjlyZW07XHJcbiAgICAgIH1cclxuICAgIH1cclxuXHJcbiAgICAuaGVhZGVyIHtcclxuICAgICAgZGlzcGxheTogYmxvY2s7XHJcbiAgICAgIHBhZGRpbmc6IDIwcHg7XHJcbiAgICAgIGhlaWdodDogMTAwcHg7XHJcbiAgICAgIHdpZHRoOiAxMDAlO1xyXG4gICAgICBAaW5jbHVkZSBncmFkaWVudCh0cmFuc3BhcmVudCwgIzAwMCk7XHJcbiAgICAgIHBvc2l0aW9uOiBhYnNvbHV0ZTtcclxuICAgICAgYm90dG9tOiAwO1xyXG5cclxuICAgICAgcCB7XHJcbiAgICAgICAgZm9udC1zaXplOiAuN3JlbTtcclxuICAgICAgICBvcGFjaXR5OiAuODY7XHJcbiAgICAgIH1cclxuICAgIH1cclxuICB9XHJcbn1cclxuIiwiLmNvbnRhY3Qge1xyXG4gIG1pbi1oZWlnaHQ6IDg3MHB4O1xyXG4gIGhlaWdodDogODcwcHg7XHJcbiAgYmFja2dyb3VuZC1pbWFnZTogdXJsKCcuLi9pbWcvY29udGFjdC5wbmcnKTtcclxuICBiYWNrZ3JvdW5kLXNpemU6IGNvdmVyO1xyXG4gIGJhY2tncm91bmQtcG9zaXRpb246IGNlbnRlcjtcclxuICBiYWNrZ3JvdW5kLXJlcGVhdDogbm8tcmVwZWF0O1xyXG5cclxuICAuZm9ybSB7XHJcbiAgICBtYXJnaW4tYm90dG9tOiAxNnB4O1xyXG4gICAgcGFkZGluZzogMTNweDtcclxuICAgIG1heC13aWR0aDogNTAwcHg7XHJcbiAgICB3aWR0aDogMTAwJTtcclxuICAgIGNvbG9yOiAjZmZmO1xyXG4gICAgYmFja2dyb3VuZC1jb2xvcjogIzAwYzRjNDtcclxuICAgIG91dGxpbmU6IDA7XHJcbiAgICBib3JkZXI6IDFweCBzb2xpZCB0cmFuc3BhcmVudDtcclxuICAgIG9wYWNpdHk6IC41O1xyXG5cclxuICAgICY6OnBsYWNlaG9sZGVyIHtcclxuICAgICAgY29sb3I6ICNmZmY7XHJcbiAgICB9XHJcblxyXG4gICAgJi50aXRsZSB7XHJcbiAgICAgIGRpc3BsYXk6IGJsb2NrO1xyXG4gICAgICBmb250LXdlaWdodDogNzAwO1xyXG4gICAgICBib3JkZXItbGVmdDogNXB4IHNvbGlkICMzNTViODI7XHJcbiAgICAgIG9wYWNpdHk6IDE7XHJcbiAgICB9XHJcbiAgICAmLnRleHRhcmVhIHtcclxuICAgICAgaGVpZ2h0OiBhdXRvO1xyXG4gICAgICBsaW5lLWhlaWdodDogbm9ybWFsO1xyXG4gICAgfVxyXG4gIH1cclxufVxyXG4iLCIuZm9vdGVyIHtcclxuICBoZWlnaHQ6IDkwcHg7XHJcbiAgYmFja2dyb3VuZC1jb2xvcjogIzI2MjYyNjtcclxufVxyXG4iXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQUEsQUFBQSxJQUFJLEVBQUUsSUFBSSxDQUFDO0VBQ1QsS0FBSyxFQUFFLElBQUk7RUFDWCxXQUFXLEVBQUUscUJBQXFCLEdBQ25DOztBRUhELEFBQUEsT0FBTyxDQUFDO0VBQ04sT0FBTyxFQUFFLE1BQU0sR0FDaEI7O0FBRUQsQUFBQSxFQUFFLEVBQUUsRUFBRSxDQUFDO0VBQ0wsV0FBVyxFQUFFLEdBQUcsR0FDakI7O0FBRUQsQUFBQSxFQUFFLENBQUM7RUFDRCxTQUFTLEVBQUUsTUFBTSxHQUNsQjs7QUFFRCxBQUFBLEVBQUUsQ0FBQztFQUNELFNBQVMsRUFBRSxNQUFNLEdBQ2xCOztBQUdELEFBQUEsQ0FBQyxDQUFDO0VBQ0EsV0FBVyxFQUFFLEdBQUcsR0FDakI7O0FBRUQsQUFBQSxPQUFPLENBQUM7RUFDTixLQUFLLEVBQUUsSUFBSSxHQUNaOztBQUVELEFBQUEsT0FBTyxDQUFDO0VBQ04sT0FBTyxFQUFFLFNBQVM7RUFDbEIsVUFBVSxFRDNCQyxHQUFHLENBQUMsR0FBRyxDQUFDLEdBQUcsQ0FBQyxrQkFBa0I7RUM0QnpDLEtBQUssRUFBRSxJQUFJO0VBQ1gsT0FBTyxFQUFFLENBQUM7RUFDVixNQUFNLEVBQUUsQ0FBQztFQUNULFVBQVUsRUFBRSxPQUFPLEdBbUJwQjtFQWpCRSxBQUFELGNBQVEsQ0FBQztJQUNQLFVBQVUsRUFBRSxPQUFPLEdBQ3BCO0VBQ0EsQUFBRCxZQUFNLENBQUM7SUFDTCxVQUFVLEVBQUUsT0FBTyxHQUNwQjtFQUNBLEFBQUQsYUFBTyxDQUFDO0lBQ04sVUFBVSxFQUFFLE9BQU8sR0FDcEI7RUFDQSxBQUFELFdBQUssQ0FBQztJQUNKLFVBQVUsRUFBRSxPQUFPLEdBQ3BCO0VBbkJILEFBcUJFLE9BckJLLEFBcUJKLE1BQU0sQ0FBQztJQUNOLFNBQVMsRUFBRSxjQUFjLENBQUMsV0FBVztJQUNyQyxNQUFNLEVBQUUsT0FBTyxHQUNoQjs7QUNqREgsQUFBQSxPQUFPLENBQUM7RUFDTixPQUFPLEVBQUUsU0FBUztFQUNsQixVQUFVLEVBQUUsT0FBTyxHQUNwQjs7QUFFRCxBQUFBLGFBQWEsQ0FBQztFQUNaLFdBQVcsRUFBRSxVQUFVO0VBQ3ZCLFNBQVMsRUFBRSxNQUFNO0VBQ2pCLFVBQVUsRUFBRSxPQUFPLEdBQ3BCOztBQUVELEFBQUEsU0FBUyxDQUFDO0VBQ1IsV0FBVyxFQUFFLEdBQUc7RUFDaEIsS0FBSyxFQUFFLE9BQU87RUFDZCxVQUFVLEVBQUUscUJBQXFCO0VBQ2pDLE1BQU0sRUFBRSxLQUFLO0VBQ2IsVUFBVSxFQUFFLE9BQU8sR0FDcEI7O0FBRUQsQUFBQSxTQUFTLEFBQUEsT0FBTyxDQUFDO0VBQ2YsWUFBWSxFQUFFLE9BQU8sR0FDdEI7O0FBRUQsQUFDRSxTQURPLEFBQ04sT0FBTyxDQUFDO0VBQ1AsT0FBTyxFQUFFLFVBQVUsR0FDcEI7O0FBSEgsQUFJRSxTQUpPLENBSVAsYUFBYSxDQUFDO0VBQ1osU0FBUyxFQUFFLEtBQUssR0FDakI7O0FDN0JILEFBQUEsS0FBSyxDQUFDO0VBQ0osVUFBVSxFQUFFLE1BQU07RUFDbEIsTUFBTSxFQUFFLE1BQU07RUFDZCxnQkFBZ0IsRUFBRSxPQUFPO0VBQ3pCLGdCQUFnQixFQUFFLHNCQUFzQjtFQUN4QyxlQUFlLEVBQUUsU0FBUztFQUMxQixtQkFBbUIsRUFBRSxNQUFNO0VBQzNCLGlCQUFpQixFQUFFLFNBQVMsR0FDN0I7O0FDUkQsQUFBQSxNQUFNLENBQUM7RUFDTCxVQUFVLEVBQUUsS0FBSztFQUNqQixnQkFBZ0IsRUFBRSxPQUFPLEdBQzFCOztBQ0hELEFBQUEsU0FBUyxDQUFDO0VBQ1IsVUFBVSxFQUFFLEtBQUs7RUFDakIsTUFBTSxFQUFFLEtBQUs7RUFDYixnQkFBZ0IsRUFBRSxPQUFPLEdBa0MxQjtFQXJDRCxBQUtFLFNBTE8sQ0FLUCxVQUFVLENBQUM7SUFDVCxnQkFBZ0IsRUFBRSwwQkFBMEI7SUFDNUMsbUJBQW1CLEVBQUUsS0FBSztJQUMxQixpQkFBaUIsRUFBRSxTQUFTLEdBQzdCO0VBVEgsQUFXRSxTQVhPLENBV1AsUUFBUSxDQUFDO0lBQ1AsT0FBTyxFQUFFLG9CQUFvQjtJQUM3QixNQUFNLEVBQUUsU0FBUztJQUNqQixTQUFTLEVBQUUsS0FBSztJQUNoQixLQUFLLEVBQUUsSUFBSTtJQUNYLFNBQVMsRUFBRSxNQUFNO0lBQ2pCLFdBQVcsRUFBRSxHQUFHO0lBQ2hCLGdCQUFnQixFQUFFLElBQUk7SUFDdEIsaUJBQWlCLEVBQUUsU0FBUztJQUM1QixtQkFBbUIsRUFBRSxVQUFVO0lBQy9CLFVBQVUsRUxyQkQsR0FBRyxDQUFDLEdBQUcsQ0FBQyxHQUFHLENBQUMsa0JBQWtCLEdLb0N4QztJQXBDSCxBQXVCSSxTQXZCSyxDQXVCSixVQUFFLENBQUM7TUFDRixnQkFBZ0IsRUFBRSxzQkFBc0IsR0FDekM7SUF6QkwsQUEwQkksU0ExQkssQ0EwQkosVUFBRSxDQUFDO01BQ0YsZ0JBQWdCLEVBQUUsdUJBQXVCLEdBQzFDO0lBNUJMLEFBNkJJLFNBN0JLLENBNkJKLFVBQUUsQ0FBQztNQUNGLE9BQU8sRUFBRSxvQkFBb0I7TUFDN0IsZ0JBQWdCLEVBQUUsdUJBQXVCLEdBQzFDO0lBaENMLEFBaUNJLFNBakNLLENBaUNKLFVBQUUsQ0FBQztNQUNGLGdCQUFnQixFQUFFLHdCQUF3QixHQUMzQzs7QUNuQ0wsQUFBQSxRQUFRLENBQUM7RUFDUCxnQkFBZ0IsRUFBRSxPQUFPLEdBTTFCO0VBUEQsQUFHRSxRQUhNLENBR04sR0FBRyxDQUFDO0lBQ0YsTUFBTSxFQUFFLE1BQU07SUFDZCxVQUFVLEVOTEQsR0FBRyxDQUFDLEdBQUcsQ0FBQyxHQUFHLENBQUMsa0JBQWtCLEdNTXhDOztBQ05ILEFBQUEsVUFBVSxDQUFDO0VBQ1QsVUFBVSxFQUFFLEtBQUs7RUFDakIsTUFBTSxFQUFFLEtBQUs7RUFDYixnQkFBZ0IsRUFBRSxPQUFPO0VBQ3pCLGdCQUFnQixFQUFFLDJCQUEyQjtFQUM3QyxlQUFlLEVBQUUsR0FBRztFQUNwQixtQkFBbUIsRUFBRSxNQUFNO0VBQzNCLGlCQUFpQixFQUFFLFNBQVMsR0FRN0I7RUFmRCxBQVNFLFVBVFEsQ0FTUixXQUFXLENBQUM7SUFDVixPQUFPLEVBQUUsTUFBTTtJQUNmLE1BQU0sRUFBRSxJQUFJO0lBQ1osV0FBVyxFQUFFLElBQUk7SUFDakIsTUFBTSxFQUFFLGNBQWMsR0FDdkI7O0FDZEgsQUFBQSxLQUFLLENBQUM7RUFDSixVQUFVLEVBQUUsS0FBSztFQUNqQixNQUFNLEVBQUUsS0FBSztFQUNiLGdCQUFnQixFQUFFLE9BQU8sR0EyRDFCO0VBOURELEFBS0UsS0FMRyxDQUtILFFBQVEsQ0FBQztJQUNQLEtBQUssRUFBRSxJQUFJO0lBQ1gsTUFBTSxFQUFFLEtBQUs7SUFDYixlQUFlLEVBQUUsS0FBSztJQUN0QixtQkFBbUIsRUFBRSxNQUFNO0lBQzNCLGlCQUFpQixFQUFFLFNBQVM7SUFDNUIsUUFBUSxFQUFFLFFBQVE7SUFDbEIsVUFBVSxFUlpELEdBQUcsQ0FBQyxHQUFHLENBQUMsR0FBRyxDQUFDLGtCQUFrQjtJUWF2QyxVQUFVLEVBQUUsYUFBYSxHQWdEMUI7SUE3REgsQUFlSSxLQWZDLENBZUEsVUFBRSxDQUFDO01BQ0YsZ0JBQWdCLEVBQUUsdUJBQXVCLEdBQzFDO0lBakJMLEFBa0JJLEtBbEJDLENBa0JBLFVBQUUsQ0FBQztNQUNGLGdCQUFnQixFQUFFLHVCQUF1QixHQUMxQztJQXBCTCxBQXFCSSxLQXJCQyxDQXFCQSxVQUFFLENBQUM7TUFDRixnQkFBZ0IsRUFBRSx1QkFBdUIsR0FDMUM7SUF2QkwsQUF3QkksS0F4QkMsQ0FLSCxRQUFRLEFBbUJMLE1BQU0sQ0FBQztNQUNOLFNBQVMsRUFBRSxXQUFXLEdBQ3ZCO0lBMUJMLEFBNEJJLEtBNUJDLENBS0gsUUFBUSxDQXVCTixLQUFLLENBQUM7TUFDSixPQUFPLEVBQUUsS0FBSztNQUNkLEtBQUssRUFBRSxJQUFJO01BQ1gsTUFBTSxFQUFFLElBQUk7TUFDWixVQUFVLEVBQUUsTUFBTTtNQUNsQixTQUFTLEVBQUUsTUFBTTtNQUNqQixXQUFXLEVBQUUsR0FBRztNQUNoQixXQUFXLEVBQUUsTUFBTTtNQUNuQixVQUFVLEVBQUUsa0JBQWlCO01BQzdCLGFBQWEsRUFBRSxHQUFHO01BQ2xCLFFBQVEsRUFBRSxRQUFRO01BQ2xCLEdBQUcsRUFBRSxJQUFJO01BQ1QsSUFBSSxFQUFFLElBQUksR0FLWDtNQTdDTCxBQTBDTSxLQTFDRCxDQUtILFFBQVEsQ0F1Qk4sS0FBSyxDQWNILElBQUksQ0FBQztRQUNILFNBQVMsRUFBRSxNQUFNLEdBQ2xCO0lBNUNQLEFBK0NJLEtBL0NDLENBS0gsUUFBUSxDQTBDTixPQUFPLENBQUM7TUFDTixPQUFPLEVBQUUsS0FBSztNQUNkLE9BQU8sRUFBRSxJQUFJO01BQ2IsTUFBTSxFQUFFLEtBQUs7TUFDYixLQUFLLEVBQUUsSUFBSTtNUmhEZixVQUFVLEVRaURZLFdBQVc7TVJoRGpDLFVBQVUsRUFBRSxvREFBc0Q7TUFDbEUsVUFBVSxFQUFFLHVEQUF3RDtNQUNwRSxVQUFVLEVBQUUscURBQXVEO01BQ25FLE1BQU0sRUFBRSw2R0FBNkc7TVE4Q2pILFFBQVEsRUFBRSxRQUFRO01BQ2xCLE1BQU0sRUFBRSxDQUFDLEdBTVY7TUE1REwsQUF3RE0sS0F4REQsQ0FLSCxRQUFRLENBMENOLE9BQU8sQ0FTTCxDQUFDLENBQUM7UUFDQSxTQUFTLEVBQUUsS0FBSztRQUNoQixPQUFPLEVBQUUsR0FBRyxHQUNiOztBQzNEUCxBQUFBLFFBQVEsQ0FBQztFQUNQLFVBQVUsRUFBRSxLQUFLO0VBQ2pCLE1BQU0sRUFBRSxLQUFLO0VBQ2IsZ0JBQWdCLEVBQUUseUJBQXlCO0VBQzNDLGVBQWUsRUFBRSxLQUFLO0VBQ3RCLG1CQUFtQixFQUFFLE1BQU07RUFDM0IsaUJBQWlCLEVBQUUsU0FBUyxHQTRCN0I7RUFsQ0QsQUFRRSxRQVJNLENBUU4sS0FBSyxDQUFDO0lBQ0osYUFBYSxFQUFFLElBQUk7SUFDbkIsT0FBTyxFQUFFLElBQUk7SUFDYixTQUFTLEVBQUUsS0FBSztJQUNoQixLQUFLLEVBQUUsSUFBSTtJQUNYLEtBQUssRUFBRSxJQUFJO0lBQ1gsZ0JBQWdCLEVBQUUsT0FBTztJQUN6QixPQUFPLEVBQUUsQ0FBQztJQUNWLE1BQU0sRUFBRSxxQkFBcUI7SUFDN0IsT0FBTyxFQUFFLEVBQUUsR0FnQlo7SUFqQ0gsQUFtQkksUUFuQkksQ0FRTixLQUFLLEFBV0YsYUFBYSxDQUFDO01BQ2IsS0FBSyxFQUFFLElBQUksR0FDWjtJQXJCTCxBQXVCSSxRQXZCSSxDQVFOLEtBQUssQUFlRixNQUFNLENBQUM7TUFDTixPQUFPLEVBQUUsS0FBSztNQUNkLFdBQVcsRUFBRSxHQUFHO01BQ2hCLFdBQVcsRUFBRSxpQkFBaUI7TUFDOUIsT0FBTyxFQUFFLENBQUMsR0FDWDtJQTVCTCxBQTZCSSxRQTdCSSxDQVFOLEtBQUssQUFxQkYsU0FBUyxDQUFDO01BQ1QsTUFBTSxFQUFFLElBQUk7TUFDWixXQUFXLEVBQUUsTUFBTSxHQUNwQjs7QUNoQ0wsQUFBQSxPQUFPLENBQUM7RUFDTixNQUFNLEVBQUUsSUFBSTtFQUNaLGdCQUFnQixFQUFFLE9BQU8sR0FDMUIifQ== */
