.blog {
  min-height: 860px;
  background-color: #b07cf7;

  .article {
    margin: 12px auto;
    max-width: 350px;
    width: 100%;
    height: 310px;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    box-shadow: $box-shadow;
    transition: .5s all;

    &-1 {
      background-image: url('../img/blog1.png');
    }
    &-2 {
      background-image: url('../img/blog2.png');
    }
    &-3 {
      background-image: url('../img/blog3.png');
    }
    &:hover {
      background-size: 130% 130%;
    }

    .date {
      padding: 6px 0;
      width: 60px;
      height: 60px;
      text-align: center;
      font-size: 1.2rem;
      font-weight: 700;
      line-height: 1.4rem;
      background: rgba(0, 0, 0, .4);
      border-radius: 5px;
      position: absolute;
      top: 30px;
      left: 30px;

      span {
        font-size: 1.9rem;
      }
    }

    .header {
      display: block;
      padding: 20px;
      height: 100px;
      width: 100%;
      @include gradient(transparent, #000);
      position: absolute;
      bottom: 0;

      p {
        font-size: .7rem;
        opacity: .86;
      }
    }
  }
}
