.contact {
  min-height: 870px;
  background-image: url('../img/contact.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  label {
    display: block;
    max-width: 500px;
  }

  .form {
    margin-bottom: 16px;
    padding: 13px;
    max-width: 500px;
    width: 100%;
    color: #fff;
    background-color: #00c4c4;
    outline: 0;
    border-width: 0 0 0 5px;
    border-style: solid;
    border-color: #00c4c4;
    opacity: .45;

    &::placeholder {
      color: #fff;
    }
    &.textarea {
      height: auto;
      line-height: normal;
      resize: none;
    }
    &:focus {
      border-left: 5px solid #355b82;
      opacity: 1;
      font-weight: 700;
    }
  }
}
