.contact {
  min-height: 870px;
  background-image: url('../img/contact.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  label {
    display: block;
    max-width: 500px;
  }

  .form {
    margin-bottom: 16px;
    padding: 13px;
    max-width: 500px;
    width: 100%;
    color: #fff;
    background-color: rgba(0, 196, 196, .5);
    outline: 0;
    border: 2px solid transparent;

    &::placeholder {
      color: #fff;
    }
    &.title {
      display: block;
      font-weight: 700;
      border-left: 5px solid #355b82;
      opacity: 1;
    }
    &.textarea {
      height: auto;
      line-height: normal;
    }
    &:focus {
      border: 2px solid #00c4c4;
    }
  }
}
