.footer {
  padding: 15px 0;
  min-height: 90px;
  line-height: 60px;
  color: #7e7e7e;
  background-color: #262626;

  .brand {
    font-family: 'Pacifico', sans-serif;
    font-size: 1.46rem;
    color: #b9b9b9;
  }
}

@media (max-width: 767.98px) {
  .footer {
    .col-sm-12 {
      line-height: normal;
      text-align: center !important;
    }
  }
}
