.services {
  min-height: 790px;
  background-color: #80bfff;

  .container {
    background-image: url('../img/services.png');
    background-position: right;
    background-repeat: no-repeat;
  }

  .service {
    padding: 36px 124px 36px 24px;
    margin: 19px auto;
    max-width: 400px;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 700;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 92% center;
    box-shadow: $box-shadow;
    position: relative;

    &-1::before,
    &-2::before,
    &-3::before,
    &-4::before {
      content: '';
      margin-top: -28px;
      position: absolute;
      right: 28px; top: 50%;
      z-index: 1;
      width: 56px;
      height: 56px;
    }
    &-1::before {
      background-image: url('../img/sprite.png');
      background-position: 0px 56px;
    }
    &-2::before {
      background-image: url('../img/sprite.png');
      background-position: -56px 0px;
    }
    &-3::before {
      background-image: url('../img/sprite.png');
      background-position: -56px 56px;
    }
    &-4::before {
      background-image: url('../img/sprite.png');
      background-position: 0px 0px;
    }
  }
}
