html, body {
  width: 100%;
  font-family: 'Raleway', sans-serif;
}

@import 'variables';
@import 'custom';
@import 'navbar';
@import 'home';
@import 'about';
@import 'services';
@import 'gallery';
@import 'subscribe';
@import 'blog';
@import 'contact';
@import 'footer';
